.btn {
  padding: 6px 14px;
  font-size: 13px;
  color: #f7f7f7;
  background-color: #cc6060;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.img {
  font-size: 12px;
  color: #c59494;
  text-indent: 10px;
}


body{
  background-color: rgb(10, 17, 23);
}

.box-c{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #a7a7a7;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  transform: translate(-50%, -50%);
  font-size: 12px;

  .box-r{
    display: flex;
    align-items: center;
  }
  .box-l{
    width: 8px;
    height: 8px;
    background-color: rgb(90, 70, 204);
    border-radius: 50%;
  }
  .box-v{
    color: rgb(236, 23, 16);
    white-space: nowrap;
    margin-left: 6px;
  }
}

.link {
  stroke: #999;
  stroke-width: 2;
}